@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.wrapper {
    min-height: 100%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper > p {
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    position: absolute;
    bottom: -1rem;
    width: 100%;

}

.wrapper > p > a {
    font-family: "Roboto", sans-serif;
    color: #5c5cbc;
    font-style: normal;
}

.wrapper > p > a:hover {
    text-decoration: underline;
}

form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 20px auto;
}

form>h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.button {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.125rem 1rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    height: 2rem;
}

.button:hover {
    background-color: #374151;
}

.button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}